<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
      body{
        background:linear-gradient(120deg,#5fa2f4, #e2b6f5);
      }
    </style>
  </head>
  <body>
    <div class="center">
      <h1>Đăng nhập</h1>

      {% if messages %}
          {% for message in messages %}
              {% if message.tags == 'error' %}
                  <center><h4 style="color: firebrick;">{{message}}</h4></center>
              {% else %}
                  <center><h4 style="color: dodgerblue;">{{message}}</h4></center>
              {% endif %}
          {% endfor %}
      {% endif %}
        
      <form method="POST">

        {% csrf_token %}

        <div class="txt_field">
          <input type="text" required name="username">
          <span></span>
          <label>Username</label>
        </div>

        <div class="txt_field">
          <input type="password" required name="password">
          <span></span>
          <label>Mật khẩu</label>
        </div>

        <input type="submit" value="Đăng nhập" >
        <div class="signup_link">
          Bạn đã đăng ký chưa? <a href="{% url 'register' %}">Đăng ký</a>
          <p>Bạn có quên mật khẩu không? <a href="{% url 'forgot-password' %}">Đặt lại mật khẩu</a></p> 
        </div>
      </form>
    </div>

  </body>
</html>