
{% extends 'admin/home.html' %}

{% block content %}
<div
  class="table-responsive-sm mx-5 " style="margin-top: 75px;"
>
<p class="text-center text-primary fw-bold fs-5">
  📌 Tổng số người dùng: {{ page_obj.paginator.count }}
</p>

  <table
    class="table table-striped table-hover table-bordered table-primary align-middle "
  >
    <thead class="table-primary text-center">
      <caption style = "caption-side: top; font-size: 1.5em; text-align: center; font-weight: bold; color: #0d6efd;">
        📋 Danh sách người dùng có  
      </caption>
      <tr>
        <th>STT</th>
        <th>ID</th>
        <th>Username <i class="fas fa-user-tag "></i> </th>
        <th>Email</th>
        <th>Ngày tham gia</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">

      {% for user in users %}
        <tr
          class="table-light"
        >
          <td>{{ forloop.counter0|add:page_obj.start_index }}</td>

          <td scope="row">{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.date_joined|date:"d/m/Y H:i" }}</td>
                
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">Không có người dùng nào.</td>
        </tr>
      {% endfor %}
      
      
    </tbody>
    <tfoot>
      
    </tfoot>
  </table>

  
  <!-- Phân trang -->
  <nav aria-label="Pagination">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">Đầu</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Cuối</a>
            </li>
        {% endif %}
    </ul>
</nav>
<!--
Tổng số trang: {{ page_obj.paginator.num_pages }} <br>
Trang hiện tại: {{ page_obj.number }} <br>
Có trang trước? {{ page_obj.has_previous }} <br>
Có trang sau? {{ page_obj.has_next }} <br>
-->


</div>

    
{% endblock %}